/* This is what we're laying out:

     DISPLAY

     C / * B

     7 8 9 -

     4 5 6 +
           +
     1 2 3 +

     0 . = =

*/

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

#display { grid-area: 1 / 1 / 2 / 5; }
#clear { grid-area: 2 / 1 / 3 / 2; }
#divide { grid-area: 2 / 2 / 3 / 3; }
#multiply { grid-area: 2 / 3 / 3 / 4; }
#backspace { grid-area: 2 / 4 / 3 / 5; }
#number7 { grid-area: 3 / 1 / 4 / 2; }
#number8 { grid-area: 3 / 2 / 4 / 3; }
#number9 { grid-area: 3 / 3 / 4 / 4; }
#minus { grid-area: 3 / 4 / 4 / 5; }
#number4 { grid-area: 4 / 1 / 5 / 2; }
#number5 { grid-area: 4 / 2 / 5 / 3; }
#number6 { grid-area: 4 / 3 / 5 / 4; }
#plus { grid-area: 4 / 4 / 6 / 5; }
#number1 { grid-area: 5 / 1 / 6 / 2; }
#number2 { grid-area: 5 / 2 / 6 / 3; }
#number3 { grid-area: 5 / 3 / 6 / 4; }
#number0 { grid-area: 6 / 1 / 7 / 2; }
#point { grid-area: 6 / 2 / 7 / 3; }
#equals { grid-area: 6 / 3 / 7 / 5; }

body {
  font-family: "Merriweather Sans", sans-serif;
}

.container {
  text-align: center;
  background-color: linen;
}

.display {
  color: greenyellow;
  background-color: black;
  text-align: right;
}

.main {
  color: white;
  background-color: darkgrey;
}

.secondary {
  background-color: lightcyan;
}

.attention {
  color: white;
  background-color: red;
}
